@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

h1 {
    font-size: 2rem;
}

.signin > img
{
    width: 40px;
}

.scrollable-box {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

/* ============================= */
/* Login Page Styles              */
/* ============================= */

.login-page {
    display: flex;
    height: 100vh;
}
  
.video-background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-background-container video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.column.is-flex.is-flex-direction-column.is-justify-content-center.is-align-items-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem; 
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 2rem 0; 
    position: relative; 
}

.divider::before {
    content: '';
    flex-grow: 1;
    border-top: 1px solid #ddd;
    margin-right: 1rem;
}

.divider .or-text {
    font-weight: bold;
    color: #888;
    white-space: nowrap; 
}

.divider::after {
    content: '';
    flex-grow: 1;
    border-top: 1px solid #ddd;
    margin-left: 1rem; 
}

.login-form .field {
    position: relative;
    margin-bottom: 1.5rem;
}

.login-form .label {
    position: absolute;
    top: -1rem;
    left: 0.5rem;
    padding: 0 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
    z-index: 1;
}

.login-form input,
.login-form button {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form button {
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #218838;
}

.login-form p {
    margin-top: 1rem;
    text-align: center;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem; 
}

.social-button {
    width: 50px;  
    height: 50px; 
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000; 
    background-color: #ffffff; 
    cursor: pointer;
}

.social-button img {
    max-width: 60%; 
}


@media (max-width: 1024px) {
    .video-background-container {
        display: none !important;
    }

    .login-page {
        flex-direction: column;
    }

    .column.is-flex.is-flex-direction-column.is-justify-content-center.is-align-items-center {
        width: 100%;
        padding: 2rem;
    }
}

/* ============================= */
/* Register Page Styles           */
/* ============================= */

.register-page {
    display: flex;
    height: 100vh;
}

.video-background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-background-container video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.column.is-flex.is-flex-direction-column.is-justify-content-center.is-align-items-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
}

.register-form .field {
    position: relative;
    margin-bottom: 1.5rem;
}

.register-form .label {
    position: absolute;
    top: -1rem;
    left: 0.5rem;
    padding: 0 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
    z-index: 1;
}

.register-form input,
.register-form button {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.register-form button {
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #218838;
}

.register-form p {
    margin-top: 1rem;
    text-align: center;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

.social-button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
}

.social-button img {
    max-width: 60%;
}

@media (max-width: 1024px) {
    .video-background-container {
        display: none !important;
    }

    .register-page {
        flex-direction: column;
    }

    .column.is-flex.is-flex-direction-column.is-justify-content-center.is-align-items-center {
        width: 100%;
        padding: 2rem;
    }
}


/* ============================= */
/* Show Trip Styles              */
/* ============================= */

.custom-image-container {
    width: 100%; 
    height: auto; 
    max-height: 500px; 
  }
  
  .custom-image-container img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 8px;
  }
  
/* ============================= */
/* Single Trip Styles            */
/* ============================= */

.single-trip-page {
    padding: 2rem;
  }
  
  .single-trip-page .column {
    padding: 2.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .single-trip-page h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #787878;
  }
  
  .single-trip-page .map-column {
      display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  }
  
  .single-trip-page .travel-map {
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .single-trip-page .submit-button {
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .single-trip-page .submit-button:hover {
    background-color: #218838;
  }
  